<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>TKSLine - Vendita di faretti in gesso all'ingrosso</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

        <link rel="stylesheet" href="{{ basepath }}/templates/tksline/css/nice-select.css">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{ basepath }}/templates/tksline/css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="{{ basepath }}/templates/tksline/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="{{ basepath }}/templates/tksline/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="{{ basepath }}/templates/tksline/css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="{{ basepath }}/templates/tksline/css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{{ basepath }}/templates/tksline/css/style.css"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
<style>
.slider {
  display: block;
  position: relative;
  height: 36px;
  width: 100%;
  max-width:225px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.slider .slider-touch-left,
.slider .slider-touch-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 36px;
  width: 36px;
  padding: 6px;
  z-index: 2;
}
.slider .slider-touch-left span,
.slider .slider-touch-right span {
  display: block;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  border: 1px solid #a4a4a4;
  border-radius: 50%;
}
.slider .slider-line {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: calc(100% - 36px);
  left: 18px;
  top: 16px;
  height: 4px;
  border-radius: 4px;
  background: #f0f0f0;
  z-index: 0;
  overflow: hidden;
}
.slider .slider-line span {
  display: block;
  height: 100%;
  width: 0%;
  background: orange;
}
.preordina  {
border: 1px solid blue;
border-radius: 100vmax;
background:transparent;
color: blue;
padding: 0.6rem 1.5rem 0.6rem 1.5rem;
transition:all 200ms ease in out;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
.pagination {
flex-wrap: wrap;
}
</style>
    </head>
	<body>
	{% include "partials/header.twig" %}
		<!-- BREADCRUMB -->
		<div id="index" v-cloak>
		<div id="breadcrumb" class="section container">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">Categorie</a></li>
							<li class="active">{_ categoryParam && categoryParam.toString().replace(/\-/g, " ") _} ({_ computedLength _} Risultati)</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
						
								<div v-if="this.categoryParam === 'FARETTI-IN-GESSO-AD-INCASTRO' " class="checkbox-filter">

								<div class="input-checkbox">
									<input type="checkbox" id="category-1" ref="rolesSelected">
									<label for="category-1">
										<span></span>
										Quadrati
										<small>(120)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-2" ref="rolesSelected">
									<label for="category-2">
										<span></span>
										Tondi
										<small>(740)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-3" ref="rolesSelected">
									<label for="category-3">
										<span></span>
										Doppi
										<small>(1450)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-4" ref="rolesSelected">
									<label for="category-4">
										<span></span>
										Con Vetrino
										<small>(578)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-5" ref="rolesSelected">
									<label for="category-5">
										<span></span>
										Design Particolari
										<small>(120)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-6" ref="rolesSelected">
									<label for="category-6">
										<span></span>
										Smartphones
										<small>(740)</small>
									</label>
								</div>
							</div>
								<div v-else class="checkbox-filter">

								<div class="input-checkbox">
									<input type="checkbox" id="category-1" >
									<label for="category-1">
										<span></span>
										Laptops
										<small>(120)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-2">
									<label for="category-2">
										<span></span>
										Smartphones
										<small>(740)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-3">
									<label for="category-3">
										<span></span>
										Cameras
										<small>(1450)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-4">
									<label for="category-4">
										<span></span>
										Accessories
										<small>(578)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-5">
									<label for="category-5">
										<span></span>
										Laptops
										<small>(120)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-6">
									<label for="category-6">
										<span></span>
										Smartphones
										<small>(740)</small>
									</label>
								</div>
							</div>
							
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Price</h3>
				    <div id="filter-price" class="collapse show">
            <div id="my-slider" :se-min="minThreshold" :se-step="step" :se-min-value="min" :se-max-value="max" :se-max="maxThreshold" class="slider">
                <div class="slider-touch-left">
                <span></span>
                </div>
                <div class="slider-touch-right">
                <span></span>
                </div>
                <div class="slider-line">
                <span></span>
                </div>
            </div>

                    <div class="input-group mt-3 mb-3 d-flex align-center justify-center">
            <div class="input-group-prepend w-100 d-flex">
                <span  style="width:20%" class="input-group-text p-2">min</span>
            <input  class="form-control" aria-label="Amount (to the nearest dollar)" step="0.25"  pattern="[0-9]+([\.,][0-9]+)?"  type="number" v-model="computedMin"/>
            
            </div>
                        <div class="input-group-prepend mt-2 w-100 d-flex">
                <span style="width:20%" class="input-group-text p-2">max</span>
            <input  class="form-control" aria-label="Amount (to the nearest dollar)" step="0.25"  pattern="[0-9]+([\.,][0-9]+)?"  type="number" v-model="computedMax"/>
            
            </div>
                    </div>                       
            </div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Brand</h3>
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" id="brand-1">
									<label for="brand-1">
										<span></span>
										SAMSUNG
										<small>(578)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-2">
									<label for="brand-2">
										<span></span>
										LG
										<small>(125)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-3">
									<label for="brand-3">
										<span></span>
										SONY
										<small>(755)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-4">
									<label for="brand-4">
										<span></span>
										SAMSUNG
										<small>(578)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-5">
									<label for="brand-5">
										<span></span>
										LG
										<small>(125)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="brand-6">
									<label for="brand-6">
										<span></span>
										SONY
										<small>(755)</small>
									</label>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Top selling</h3>
							<div class="product-widget">
								<div class="product-img">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVrOwGvMU_XKE-RtN0BMH3wAbD-wV0vU7Zkw&usqp=CAU" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVrOwGvMU_XKE-RtN0BMH3wAbD-wV0vU7Zkw&usqp=CAU" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVrOwGvMU_XKE-RtN0BMH3wAbD-wV0vU7Zkw&usqp=CAU" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								   <div class="">
                                   <div class="w-100 ">
                                       <form class="w-100 d-block" action="">
                                           <div class="input-group" style="display:flex;align-items:center;justify-content:space-between">
                                               <input type="text" v-model.trim="param"
                                                      placeholder="Cerca prodotti..."
                                                      @keyup="getAllProducts" class="form-control"/>
                                               <div class="input-group-append">
                                               <span class="input-group-text bg-transparent text-primary">
                                                   <i class="fa fa-search text-white"></i>
                                               </span>
                                               </div>
                                           </div>
                                       </form>
                                   </div>
                               </div>
								<label>
									Filtra per:
								   <select  id="select" @change="changeSelect" v-model="selectedFilter"
                                              class="input-select" >
                                           <option   selected disabled>Ordina per</option>
                                           <option :value="1"  >Nome prodotto</option>
                                           <option  :value="2"   >Prezzo</option>
                                          
                                       </select>
								</label>

							
							</div>
							<ul class="store-grid">
								<li @click="gridViews = 1" :class="gridViews === 1 ? 'active' : ''"><i class="fa fa-th"></i></li>
								<li @click="gridViews = 2" :class="gridViews === 2 ? 'active' : '' "><i class="fa fa-th-list"></i></li>
							</ul>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row" style="
    display: flex;
    flex-flow: wrap;
">

							<!-- product -->
						<div v-if="param && !displayedRecords.length ">Spiacenti non ci sono risultati per la tua ricerca, controlla la barra di ricerca</div>

							<div v-else  v-for="(prodotto,index) in displayedRecords" :key='prodotto.id' :style="gridViews === 2 ? 'display: flex;justify-content: space-between;align-items: center;width: 100%;' : ''"  :class="gridViews === 1 ? 'col-md-4 col-xs-6' : 'col-md-12 col-xs-12'">
								<div class="product" :style="gridViews === 2 ? 'display: flex;justify-content: space-between;align-items: center;width: 100%;margin:2rem auto 7rem auto;' : ''">
									<div class="product-img" >
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVrOwGvMU_XKE-RtN0BMH3wAbD-wV0vU7Zkw&usqp=CAU" alt="">
										<div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">Categoria</p>
										<h3 class="product-name"><a href="{{basePath}}/tksline/product">{_ prodotto.title _}</a></h3>
										<h4 class="product-price">{_ numberFormat(prodotto.price) _} <del class="product-old-price">{_ numberFormat(800) _}</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Aggiungi ai preferiti</span></button>
											<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Aggiungi alla comparazione</span></button>
											<button @click="pushToModal(item)" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
										</div>
									</div>
									<div :style="gridViews === 2 ? 'bottom:-74px;transform:unset !important;' : ''" class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Aggiungi al carrello</button>
									</div>
								</div>
							</div>
							<!-- /product -->
							
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
					                           <div style="margin:auto;text-align:center;" v-if="!loading && displayedRecords">
   
                                 <pagination :records="computedLength" v-model="page" :per-page="perPage" @paginate="callback">
                                </pagination>


                           </div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
			    <div 
	:class="modal.length > 0  ? 'modalopen modal ' : 'modal' "
	>
         <label class="modal-label overlay">
                <input type="radio" name="modal" value="close" class="modal-radio"/>
            </label>
      <div class="content">
        <div class="top">
          <label @click="modal = []" class="modal-label close-btn">
                    <input type="radio" name="modal" value="close" class="modal-radio"/>
                </label>
        </div>
		<div class="body ">

		<img style="width:100%;max-height:50vh" src="{{ basepath }}/templates/tksline/img/product-image.png" alt="modal.title"/>
        <div style="display:flex;flex-direction:column;justify-content:start;align-items:start;padding:3%">
		<!-- Product details -->
					<div class="">
						<div class="product-details">
							<h2 class="product-name">Faro ad incastro</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#recensione-prodotti">10 recenzione(i) | Aggiungi una recensione</a>
							</div>
							<div>
								<h3 class="product-price">{_ numberFormat(800) _} <del class="product-old-price">{_ numberFormat(800) _}</del></h3>
								<span class="product-available">Disponibile</span>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

				

							<div class="add-to-cart">
								<div class="qty-label">
									Quantità
									<div class="input-number">
										<input type="number" value="1">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> aggiungi al carrello</button>
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> aggiungi ai preferiti</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i> aggiungi a comparazione</a></li>
							</ul>

							<ul class="product-links">
								<li>Categoria:</li>
								<li><a href="#">Headphones</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>

							<ul class="product-links">
								<li>Condividi questo prodotto:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->
		  </div>
		</div>
      </div>
    </div>

</div>
	</div>
<!-- Modal -->
	</div>

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Iscriviti alla nostra <strong>NEWSLETTER</strong></p>
							<form>
								<input required class="input" type="email" placeholder="La tua Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Iscriviti</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			</div>
			<!-- /container -->
	
		<!-- /NEWSLETTER -->

	{% include "partials/footer.twig" %}



		<!-- jQuery Plugins -->
		<script src="https://unpkg.com/vue-lazyload@1.3.3/vue-lazyload.js">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js">
        </script>
		<script src="{{basepath}}/templates/tksline/js/ZbRangeSlider.js" type="application/javascript"></script>

		<script src="{{basepath}}/templates/tksline/js/vue-pagination.js" type="application/javascript"></script>
		<script src="{{ basepath }}/templates/tksline/js/jquery.min.js" type="application/javascript"></script>
		<script src="{{ basepath }}/templates/tksline/js/bootstrap.min.js" type="application/javascript"></script>
		<script src="{{ basepath }}/templates/tksline/js/slick.min.js" type="application/javascript"></script>
		<script src="{{ basepath }}/templates/tksline/js/jquery.zoom.min.js" type="application/javascript"></script>
		<script src="{{ basepath }}/templates/tksline/js/jquery-nice-select-min.js" type="application/javascript"></script>
		<script src="{{ basepath }}/templates/tksline/js/main.js"></script>
		<script defer src="{{ basepath }}/templates/tksline/js/vue/top_header.js"></script>
		<script defer src="{{ basepath }}/templates/tksline/js/vue/store.js"></script>



	</body>
</html>
